body {
  font-family: monospace;
  color: #ffff;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  line-height: 18px;
}

.weather-app-wrapper {
  max-width: 600px;

  margin: 30px auto;
}

.weather-app {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.top-section {
  margin-bottom: 30px;
}

.left {
  float: left;
}

.weather-temperature strong {
  font-size: 65px;
  line-height: 1;
  bottom: -25px;
  position: relative;
  top: -5px;
}
#icon {
  position: relative;
  top: -23px;
}
.units {
  position: relative;
  top: -30px;
  font-size: 20px;
}

.footer {
  color: #000;
}

.measurements {
  font-size: 25px;
  line-height: 28px;
}

.general-info {
  font-size: 20px;
}

.forecast-data {
  text-align: center;
  background: #faffc9;
  color: #75326f;
  border-radius: 5px;
}

#forecast-icon {
  font-size: 30px;
}
.forecast-min {
  color: #d38fb8;
  font-size: 14px;
}
.forecast-max {
  font-size: 14px;
}
